@use "bulma/sass" with (
  $family-sans-serif: '"Inter", sans-serif',
  $primary: #000000,
  $light: #d7d7d7,
  $dark: #1c1a1f,
  $size-1: 6rem,
  $grey: #9c9b9d,
  $link: #000000,
  $section-padding-desktop: 10rem 3rem,
  $section-padding: 7rem 1.5rem,
  $size-2: 5rem,
  $size-3: 3rem
);

@use "bulma/sass/utilities/mixins";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://use.typekit.net/kej5qyk.css");
