@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Rasa:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5em;
  font-weight: 100;
}

.navigate-back {
  font-size: 1em;
  font-weight: 100;
  color: blue;
  text-decoration: underline;
  font-size: 0.8rem;
}

:root {
  /* solana wallet button styling */
  --swv-button-background-color: #000 !important;
  --swv-button-hover-background-color: #000 !important;
}

.coming-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
