@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@layer vocs_preflight {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

 
:root {
  --vocs-fontFamily_default: 'Inter', sans-serif;
  --vocs-color_background: white;
  --vocs-fontWeight_semibold: 700;
}
 
:root.dark {
  --vocs-color_background: #232225;
}

.vocs_Heading {
    font-family: 'Inter', sans-serif !important;
}

.vocs_HomePage_title {
    font-family: 'Inter', sans-serif !important;
}



#splash-container {
  background: url('/preview-bg.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  opacity: 0.55;
  position:absolute;
}