@use "bulma/sass" with (
    $family-sans-serif: '"Inter", sans-serif',
    $primary: #000000,
);

$nav-background: rgba(255, 255, 255, 0.561);
$title-weight: 400;
$title-size: 5rem;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://use.typekit.net/kej5qyk.css");

.navbar {
    background-color: $nav-background;
  }

.navbar-burger{
    color: black;
}

.hero-title{
    font-size: $title-size;
}

:root {
    --bulma-link-text: '#000';
}